@import url('../styles/Global-style.css');


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.countDown-div{
    width: 95vw;
    margin: 150px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* outline: 1px solid royalblue; */
    font-family: 'IBM Plex Sans', sans-serif;
    flex-wrap: wrap;
    color: var(--text);
}



.countdown{
    width: 70%;
    margin: 50px 0;
    outline: 1px solid var(--text);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 1;
    flex-wrap: wrap;
    gap: 20px;
    /* outline: 1px solid lawngreen; */
    padding: 10px;
}

.count span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 50px; */
    padding: 10px;
    background-color: var(--text);
    color: white
}


.countdown span{
    font-size: 30px;
    font-weight: 800;
}

.countdown p{
    font-size: 24px;
}


@media (width < 687px) {

    .count p {
        font-size: 20px;
    }
    
}


@media (width < 510px) {
    
    .countdown{
        width: 70%;
    }
    
}


@media (width < 480px) {

    .countDown-div h1{
        text-align: center;
        width: 70%;
    }
    
    
}

@media (width < 420px) {

    .countdown{
        width: 65%;
    }

    .countDown-div h1{
        font-size: 28px;
    }
}

@media (width < 400px) {

    .countDown-div h1{
        text-align: center;
        width: 80%;
        outline: 1px solid red;
    }

    .countdown{
        width: 80%;
    }
    
}

@media (width < 305px) {
    .countDown-div h1{
        text-align: center;
        width: 90%;
    }    
}

@media (width < 300px) {

    .countDown-div h1{
        text-align: center;
        width: 95%;
    }
    

    .countdown{
        width: 100%;
    }
    
}
    
    


