:root{
    --text: #002828;
    /* --background: #f5ffff; */
    --background: #f1f5f8;
    --primary: #fe7977;
    --secondary: #b3fdfe;
    --accent: #e30602;
}



/* font-family: 'Satoshi', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif; */
