@import url('../styles//Global-style.css');


.partner-sec{
    width: 98vw;
    margin: 90px auto;
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    /* background-color: blue; */
}

.partner-sec h3{
    font-size: 30px;
    width: 40%;
    text-align: center;
    font-family: 'Cabinet Grotesk', sans-serif;
    color: var(--accent);
}


.partners-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    flex: 1 0 1;
}

.img-sec{
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
    position: relative;
}


img{
    filter: grayscale(100%);
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



@media (width < 700px) {

    .partner-sec h3{
        font-size: 30px;
        width: 45%;
    }
    
}

@media (Width < 500px) {


    .partner-sec h3{
        width: 70%;
        font-size: 25px;
    }
}


@media (Width < 400px) {


    .partner-sec h3{
        width: 90%;
    }
}

@media (Width < 350px) {


    .partner-sec h3{
        width: 100%;
    }
}



